<div class="home-container">


<div class="cars-container">

      <h2>Cars</h2>

      @for(car of homeCars; track $index){
      <div class="car-container">
            <div class="img-container">
                  <img [src]="car.images[0]" alt="Car image" width="200">
            </div>
            <div class="car-info">
                  <p> Brand: {{ car.brand }} </p>

                  <p> Type: {{ car.typ }} </p>

                  <p> Price: ${{ car. price}} </p>

                  <p> Phone: {{car.phone}}</p>

                  <p>Created: {{car.date}}</p>

                  

                 
            </div>
      </div>
      }

     <p>And {{cars.length - 3}} more cars</p>
</div>

<div class="motos-container">

     <h2>Motorcycles</h2>

      @for(moto of homeMotos; track $index){
      <div class="moto-container">
            <div class="img-container">
                  <img [src]="moto.images[0]" alt="Moto image" width="200">
            </div>
            <div class="car-info">
                  <p> Brand: {{ moto.brand }} </p>

                  <p> Type: {{ moto.typ }} </p>

                  <p> Price: ${{ moto. price}} </p>

                  <p> Phone: {{moto.phone}}</p>

                  <p>Created: {{moto.date}}</p>

                  

                 
            </div>



            


      </div>
      }

     <p>And {{motos.length - 3}} more motorcycles</p>
</div>

</div>

