<h2>Update Moto</h2>

<form [formGroup]="motoForm" (ngSubmit)="updateMoto()" *ngIf="motoForm">
  <div class="container">
    <div class="info">
      <!-- Brand -->
      <label for="brand">Brand</label>
      <input id="brand" type="text" formControlName="brand">
      @if (motoForm.get('brand')?.invalid && motoForm.get('brand')?.touched) {
        <p style="color: red;">Brand is required.</p>
      }

      <!-- Type -->
      <label for="typ">Type</label>
      <select id="typ" formControlName="typ">
        <option value="">Select type</option>
        <option value="Chopper">Chopper</option>
        <option value="Sport">Sport</option>
        <option value="Touring">Touring</option>
        <option value="Enduro">Enduro</option>
      </select>
      @if (motoForm.get('typ')?.invalid && motoForm.get('typ')?.touched) {
        <p style="color: red;">Type is required.</p>
      }

      <!-- Power -->
      <label for="volume">Power</label>
      <input id="volume" type="text" formControlName="volume">
      @if (motoForm.get('volume')?.invalid && motoForm.get('volume')?.touched) {
        <p style="color: red;">Power is required.</p>
      }

      <!-- Year -->
      <label for="year">Year</label>
      <input id="year" type="number" formControlName="year">
      @if (motoForm.get('year')?.invalid && motoForm.get('year')?.touched) {
        <p style="color: red;">Year must be valid.</p>
      }

      <!-- Description -->
      <label for="description">Description</label>
      <textarea id="description" formControlName="description"></textarea>
      @if (motoForm.get('description')?.invalid && motoForm.get('description')?.touched) {
        <p style="color: red;">Description is required.</p>
      }

      <!-- Price -->
      <label for="price">Price</label>
      <input id="price" type="number" formControlName="price">

      <!-- Date -->
      <label for="date">Date</label>
      <input id="date" type="date" formControlName="date">

      <!-- Submit -->
      <button type="submit" [disabled]="motoForm.invalid">Update Moto</button>
    </div>

    <div class="image" formArrayName="images">
      <label>Edit Images</label>

      @for (imgCtrl of images.controls; track $index) {
        <div class="img-order">
          <input class="inp" [formControlName]="$index" type="text" placeholder="Image URL {{ $index + 1 }}">
          @if (imgCtrl.value) {
            <img [src]="imgCtrl.value" width="120">
          }

          @if (imgCtrl.invalid && imgCtrl.touched) {
            <p style="color: red;">Image URL {{ $index + 1 }} is required.</p>
          }
        </div>
      }
    </div>
  </div>
</form>
