<nav class="nav-bar">

<div class="logoItem">
     <a routerLink="/">Car Market</a>
  </div>



@if(authService.currentUserSig() == null){



  
  <div class="nav-item">
    <a routerLink="/login">Login</a>
    <a routerLink="/register">Register</a>
  </div>

}
@if(authService.currentUserSig()){


 
  <div class="nav-item">
    <a routerLink="/create-moto">Create Motorcycle</a>
    <a routerLink="/create">Create Car</a>
    <a routerLink="/list">List Cars</a>
    <a routerLink="/list-motos">List Motorcycles</a>
    <span (click)="logout()">Logout</span>
  </div>

}
</nav>


<footer>Created by Nikolay Kolarov</footer>
<router-outlet></router-outlet>