<h2>Update Car</h2>

<form [formGroup]="carForm" (ngSubmit)="updateCar()" *ngIf="carForm">
  <div class="container">
    <div class="info">
      <!-- Brand -->
      <label for="brand">Brand</label>
      <input id="brand" type="text" formControlName="brand">
      @if (carForm.get('brand')?.invalid && carForm.get('brand')?.touched) {
        <p style="color: red;">Brand is required.</p>
      }

      <!-- Type -->
      <label for="typ">Type</label>
      <select id="typ" formControlName="typ">
        <option value="">Select type</option>
        <option value="Sedan">Sedan</option>
        <option value="Coupe">Coupe</option>
        <option value="SUV">SUV</option>
        <option value="Hatchback">Hatchback</option>
      </select>
      @if (carForm.get('typ')?.invalid && carForm.get('typ')?.touched) {
        <p style="color: red;">Type is required.</p>
      }

      <!-- Power -->
      <label for="power">Power</label>
      <input id="power" type="text" formControlName="power">
      @if (carForm.get('power')?.invalid && carForm.get('power')?.touched) {
        <p style="color: red;">Power is required.</p>
      }

      <!-- Year -->
      <label for="year">Year</label>
      <input id="year" type="number" formControlName="year">
      @if (carForm.get('year')?.invalid && carForm.get('year')?.touched) {
        <p style="color: red;">Year must be valid.</p>
      }

      <!-- Description -->
      <label for="description">Description</label>
      <textarea id="description" formControlName="description"></textarea>
      @if (carForm.get('description')?.invalid && carForm.get('description')?.touched) {
        <p style="color: red;">Description is required.</p>
      }

      <!-- Price -->
      <label for="price">Price</label>
      <input id="price" type="number" formControlName="price">

      <!-- Date -->
      <label for="date">Date</label>
      <input id="date" type="date" formControlName="date">

      <!-- Submit -->
      <button type="submit" [disabled]="carForm.invalid">Update Car</button>
    </div>

    <div class="image" formArrayName="images">
      <label>Update Images</label>

      @for (imgCtrl of images.controls; track $index) {
        <div class="img-order">
          <input class="inp" [formControlName]="$index" type="text" placeholder="Image URL {{ $index + 1 }}">
          @if (imgCtrl.value) {
            <img [src]="imgCtrl.value" width="120">
          }

          @if (imgCtrl.invalid && imgCtrl.touched) {
            <p style="color: red;">Image URL {{ $index + 1 }} is required.</p>
          }
        </div>
      }
    </div>
  </div>
</form>
